[#--
栏目翻页样式
pageClass: 翻页DIV class
    pageStyle: 翻页DIV style
--]
<link href="/${res}/css/pages.css" rel="stylesheet">

[#assign p=tag_pagination/]
<div class="pages2 font13 mb10" style="font-size:13px;">    
[#if p.firstPage]
[#else]
    <a href="${hrefFormer}${hrefLatter}">首页</a>
    <a href="${hrefFormer}[#if p.prePage gt 1]_${p.prePage}[/#if]${hrefLatter}">&nbsp;上一页 &nbsp;</a>
[/#if]
[#if pageNo-5 gt 1]
    [#if p.totalPage gt pageNo+4]
        [#list pageNo-5..pageNo+4 as i]
            [#if i = pageNo]
                <a class="currentpage">${i}</a>
            [#else]
                <a href="${hrefFormer}[#if i gt 1]_${i}[/#if]${hrefLatter}">${i}</a>
            [/#if]
        [/#list]
    [#else]
        [#list p.totalPage-9..p.totalPage as i]
            [#if i = pageNo]
                <a class="currentpage">${i}</a>
            [#else]
                <a href="${hrefFormer}[#if i gt 1]_${i}[/#if]${hrefLatter}">${i}</a>
            [/#if]
        [/#list]
    [/#if]
[#else]
    [#if p.totalPage gt 10]
        [#list 1..10 as i]
            [#if i = pageNo]
                <a class="currentpage">${i}</a>
            [#else]
                <a href="${hrefFormer}[#if i gt 1]_${i}[/#if]${hrefLatter}">${i}</a>
            [/#if]
        [/#list]
    [#else]
        [#list 1..p.totalPage as i]
            [#if i = pageNo]
                <a class="currentpage">${i}</a>
            [#else]
                <a href="${hrefFormer}[#if i gt 1]_${i}[/#if]${hrefLatter}">${i}</a>
            [/#if]
        [/#list]
    [/#if]
[/#if]
[#if p.lastPage]
[#else]
    <a href="${hrefFormer+'_'+p.nextPage+hrefLatter}">&nbsp;下一页&nbsp;</a>
    <a href="${hrefFormer+'_'+p.totalPage+hrefLatter}">&nbsp;尾页 </a>
[/#if]
 </div>