/**
* @file:resultList
* @author:lyc
*
* @update:2016-03-31
*/


/*===list===*/
.listWrap{
    width: 775px;
    min-height: 700px;
    height: 100%;
    overflow: hidden;
}
.list{
    width: 775px;
    min-height: 500px;
    height: 100%;
    overflow: hidden;
    border: 1px solid #dcdcdc;
    padding: 0 20px;
}
.list li{
    width: 100%;
    height: 76px;
    line-height: 28px;
    padding: 10px 0;
    border-bottom: 1px dashed #dcdcdc;
}
.list li.noBorder{
    border: none;
}
.list li a{
    width: 640px;
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    display: block;
}
.list li a em{
    color: #f00;
}
.list li span{
    width: 100%;
    height: 28px;
    line-height: 28px;
    color: #777;
    display: block;
}

/*===list End===*/

