/**
* @file:overview
* @author:lyc
*
* @update:2016-04-01
*/

/*===peruseFr===*/

.peruseWarp{
    width: 775px;
    min-height: 700px;
    height: 100%;
    padding-left: 22px;
    padding-right: 22px;
    overflow: hidden;
    border: 1px solid #dcdcdc;
}
.peruse-title{
    width: 100%;
    border-bottom: 1px dashed #dcdcdc;
    line-height: 35px;
    color: #000;
    text-align: center;
}
.peruse-explain{
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    line-height: 20px;
    color: #898989;
    text-align: center;
}
.peruse-content{
    width: 100%;
    min-height: 500px;
    height: 100%;
    overflow: hidden;
    line-height: 28px;
    text-align: justify;
    text-indent: 2em;
}

.peruse-piece{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
    border-top: 1px dashed #dcdcdc;

}
.peruse-piece p{
    width: 100%;
    line-height: 30px;
    color: #000;
}
.peruse-piece p a{
    color: #000;
}
.peruse-piece p a:hover{
    color: #2a9cd1;
    text-decoration: underline;
}

/*===peruseFr End===*/