/**
* @file:overview
* @author:lyc
*
* @update:2016-04-01
*/

/*===overviewFr===*/

.homeSiteFrWrap .overviewList li{
    height: 50px;
}
.homeSiteFrWrap .overviewList li a{
    width: 600px;
    height: 28px;
}
.homeSiteFrWrap .overviewList li span{
    width: 85px;
    text-align: right;
}

.homeSiteFrWrap .overviewList li span a.download{
    display: inline-block;
    width: 60px;
    height: 26px;
    line-height: 26px;
    color: #fff;
    background: #1e5194;
    text-align: center;
}

.list li:hover,
.list li:hover a,
.list li:hover span{
    color:#38a3db;
}


/*===overviewFr End===*/