<div class="home-nav">
    <div class="container">
        <ul>
            <li class="current"><a href="${base}/">首页</a></li>
            [@cms_channel path='general']
				<li><a href="${tag_bean.url}" target="_blank">${tag_bean.name}</a></li>
			[/@cms_channel]
            [@cms_channel path='source']
				<li><a href="${tag_bean.url}" target="_blank">${tag_bean.name}</a></li>
			[/@cms_channel]
			[@cms_channel path='server']
				<li><a href="${tag_bean.url}" target="_blank">${tag_bean.name}</a></li>
			[/@cms_channel]
            
        </ul>
        <div style="clear: both;"></div>
    </div>
</div>